:root {
  --font-lead-color: #212121;
  --font-support-color: #757575;
  --additional-and-hover-color: #2196f3;
  --white: #ffffff;
  --main-background-color: #2f303a;
  --footer-font-color: rgba(255, 255, 255, 0.6);
  --filter-btn-color: #f5f4fa;
}
body {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  color: var(--font-lead-color);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px dotted tomato;
}

h1, h2, h3, p {
  margin: 0;  
}

body button {
  cursor: pointer;
}
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 500;
  color: var(--font-lead-color);
}

.logo-main {
  font-family: Raleway, Tahoma, sans-serif;
  font-size: 26px;
  text-decoration: none;
  color: var(--font-lead-color);
  line-height: 1.19;
}

.blue-part-logo {
  color: var(--additional-and-hover-color);
}

.no-style-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header-nav-link {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.is-active {
  color: var(--additional-and-hover-color);
}

.page-header-nav-link:hover,
.page-header-nav-link:focus {
  color: var(--additional-and-hover-color);
}

.page-header-contacts-mail,
.page-header-contacts-tel {
  text-decoration: inherit;
  color: var(--font-support-color);
}

.page-header-contacts-mail:hover,
.page-header-contacts-mail:focus,
.page-header-contacts-tel:hover,
.page-header-contacts-tel:focus,
.basement-phys-address:hover,
.basement-phys-address:focus,
.basement-mail:hover,
.basement-mail:focus,
.basement-tel:hover,
.basement-tel:focus {
  color: var(--additional-and-hover-color);
}

.slogan {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
  background-color: var(--main-background-color);
  text-align: center;
}

.slogan-text {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.slogan-order-btn {
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  background-color: var(--additional-and-hover-color);
}

.features-describer {
  margin-bottom: 94px;
}

.features-describer-header {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
}

.features-describer-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--font-support-color);
}

.our-business {
  margin-bottom: 93px;
}

.sub-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.our-team {
  padding: 94px 0;
}

.our-team-img {
  margin-bottom: 30px;
}

.our-team-pic-name,
.our-team-pic-rank {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team-pic-name {
  font-weight: 500;
}

.our-team-pic-rank {
  color: var(--font-support-color);
}

.basement {
  padding: 60px 0;
  background-color: var(--main-background-color);
}

.basement-logo.logo-main {
  display: inline-block;
  margin-bottom: 20px;
}

.basement-logo {
  color: var(--white);
}

.basement-address {
  font-size: 14px;
  font-style: normal;
  color: var(--footer-font-color);
  line-height: 1.71;
  text-decoration: none;
}

.basement-phys-address,
.basement-mail,
.basement-tel {
  color: inherit;
  text-decoration: inherit;
}

.basement-phys-address {
  color: var(--white);
}

.portfolio-main {
  margin-top: 100px;
  margin-bottom: 92px;
}

.filter-btn {
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  background-color: var(--filter-btn-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--additional-and-hover-color);
  color: var(--white);
}

.portfolio-cards {
  margin-top: 34px;
}

.portfolio-card-header {
  margin-top: 20px;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}

.portfolio-card-subheader {
  font-size: 16px;
  line-height: 1.87;
  color: var(--font-support-color);
}
